.body-class,.container-scroller {
    height: 100vh;
}

.signin-btn {
    background: linear-gradient(270deg, #2458aa, #b9bec7, #2458aae3);
    background-size: 600% 600%;
    color: #fff;
    border: none;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.signin-btn:hover {
    animation: animatedGradient 3s ease infinite;
    /* color: #fff;
    background-color: #3f3e91 !important;
    border-color: #3b3a88; */
}

@keyframes animatedGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


body {
  background-color: #f8f9fc;
  font-family: "Poppins", sans-serif;
  background-image:url('./paralex-bg.png');
}

.sidebar-link:hover {
  background-color: #eaf0ff !important;
  border-radius: 8px;
}
.card-light-blue{
    background-color:#d3e3fd !important;
}